/* Reto 05 Cambia colores a Texto, Parrafo y Boton 
   Fondo de pagina y Fondo de Boton */



   main {
    margin-top: 285px;
    text-align: center;
  }

.header {
   /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    
    */
    
    margin: 40px 20px 0 20px ; 
    font-size: 0;
    line-height: 45%;
    height: 45px;
    font-family: sans-serif;
  }

  .header > * {
    display: inline-block;
   font-size: 16px;
   vertical-align: middle;
   height : 100%;
   line-height: 45px;
  }

  li{
      display: inline;
      color:  #025157;
      padding: 8px 0 8px 16px;
      text-decoration: none;
 }

  .logo{
    width: 100%;
  }

  .navbar{
    width: 70%;
    text-align: center;
    color: #025157;
  }

  .menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
  }

  .actions {
      width: 15%;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
  }

  .actions a {
    color: #67b54b;
 }
  

  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }


  button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
  }
  
  
body{


    background-color: #fffbf7;
    /*background-image: url('https://image.freepik.com/vector-gratis/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.jpg');  */
}


p{
    color: #8b8b8bcc
 }

button{
    background-color: #025157;

    color : #fff;
}


.imagen1 { 
  text-align: right;
 }

.publicidad {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  padding-top: 5%;
}

.publicidad > h2 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publicidad > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
 
}

.publicidad > form {
  display: flex;

}

.publicidad > form p {
  color: #025157;
  margin-right: 18px;

 }

  .publicidad  img {
    width: 120px;
    margin-top: 10px;
  }



  .secpromo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .artvideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
  }
  
  .artvideo img {
    width: 120px;
    margin-top: 10px;
  }


  .secheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  .secgrowing {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .success-stories .artgrowing {
    flex: 2;
    padding-right: 100px;
  }

  .secgrowing .artgrowing h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    color: #025157;
  }
  
  .secgrowing .artgrowing p {
    color: #343434;
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .secgrowing .artgrowing button {
    font-size: 16px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }

  .secgrowing .artgrowing img {
    width: 80%;
    max-width: 80%;
    margin-left : 0;
  }

  .secgrowing .arteverly {
    flex: 1;
  }
  
  .secgrowing .arteverly {
    margin-left: 10%;
    float : right;
    max-width: 550px;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;

  }
  
  .secgrowing .arteverly .diveverly .img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
    max-width: 80%;

  }

  .secgrowing .arteverly .diveverly .figure {
    margin-top: 0;
    margin-right: 10%;
  }
  
  .secgrowing .arteverly .diveverly {
    position: relative;
    }

  .secgrowing .arteverly .divlogo {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .secgrowing .arteverly .divlogo img {
    max-width: 75%;
  }

    
    .secgrowing .arteverly .divbody,
    .secgrowing .arteverly .divfooter {
      padding: 25px;
    }

    .secgrowing .arteverly .divbody h4 {
      color: #025157;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }

    .secgrowing .arteverly .divbody h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    
    .secgrowing .arteverly .divbody .divresults {
      display: flex;
      align-items: center;
      color: #828282;
    }

    .secgrowing .arteverly .divbody .divresults img {
      width: 26px;
      margin-right: 20px;
    }

    .secgrowing .arteverly .divbody .divresults p {
      margin-top: 0;
    }

    .secgrowing .arteverly .divbody .divfooter {
      margin-bottom: 20px;
      background-color: unset;
      border-top: unset;
    }
    
    .secgrowing .arteverly .divbody .divfooter button {
      display: block;
      margin-left: 0;
      border-radius: 5px;
      font-size: 13;
      font-weight: 600;
      padding: 12px 20px;
      width: 100%;
    }