* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Tahoma", sans-serif;
}

/* .secheader {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
} */

.header {
  margin: 10px 10px 0 30px;
  font-size: 0;
  line-height: 45%;
  font-family: "Verdana", sans-serif;
  background-color: white;
}

.header>* {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 40px;
}

.secheader .logo {
  width: 100%;
}

.secheader .navbar {
  background-color: #fffbf7;
  width: 65%;
  text-align: center;
  color: #025157
}

.secheader .navbar .menu-item {
  display: inline;
  margin: 0 25px 0 25px;
}

.secheader .divactions {
  width: 20%;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.divactions>* {
  margin: 0 10px 0 10px;
}

.secheader .divactions a {
  color: #67b54b;
}

.secheader .divactions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
}


main {
  margin-top: 285px;
  text-align: center;
}

h1 {
  color: #025157;
  font-family: "Georgia", serif;
  font-size: 60px;
  margin-bottom: 24px;
}

h5 {
  color: #303636;
  font-family: "Constantia", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

p {
  color: #4d4a4acc;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.form-iniciarseion {
  margin-top: 10px;
  height: 60px;
}

.form-iniciarseion input,
button {
  height: 100%;
  border-radius: 8px;
}

.form-iniciarseion input {
  border: 1px solid #575555;
  padding: 10px 20px;
  width: 70%;
  max-width: 250px;
  font-size: 18px;
}

.form-iniciarseion button {
  background-color: #054646;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 20px;
  margin-left: -10px;
  font-size: 16px;
}

figure {
  margin-top: 32px;
}

.ventanas-matcha>img {
  width: 70%;
}


.secpromo {
  display: flex;
  width: 80%;
  margin: 100px auto;
  align-items: center;
  background-color: white;
}

.secpromo .publicidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.secpromo .publicidad>h3 {
  font-family: "Verdana", sans-serif;
  font-size: 30px;
  color: #025157;
}

.secpromo .publicidad>p {
  font-size: 16px;
  color: #807676;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-right: 30px;
  font-family: "Helvetica", sans-serif;

}

.secpromo .publicidad>form {
  display: flex;

}

.secpromo .publicidad>form p {
  color: #505858cb;
  margin-right: 10px;
  font-size: 13px;
  text-align: left;
}

.secpromo .publicidad .email {
  border: 1px solid #b6b6b6;
  padding: 20px 20px;
  width: 60%;
  max-width: 250px;
  text-align: left;
  border-radius: 8px;
  margin-left: 20px;
}

.secpromo .publicidad>form button {
  color: white;
  background-color: #054646;
  padding: 2px 10px 2px 6px;
  border-radius: 8px;
  margin-left: -10px;
}

.secpromo .publicidad img {
  width: 120px;
}


.secpromo .artvideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 3% 4% 4%;
}

.secpromo .artvideo img {
  width: 100px;
  margin-top: 10px;
}

.secfeatures {
  background-color: #025157;
  padding: 12% 12%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.secfeatures .artfeatures {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.secfeatures .artfeatures .divfeatures {
  padding: 30px 40px 60px 40px;
  flex: 2;
}

.secfeatures .artfeatures .divfeatures>* {
  margin-bottom: 0rem;
  margin-top: 20px;
}

.secfeatures .artfeatures .divfeatures img {
  width: 50px;
}

.secfeatures .artfeatures .divfeatures h3 {
  font-size: 20px;
  color: #292626;
  font-weight: 400;
  text-align: left;
}

.secfeatures .artfeatures .divfeatures-div p {
  font-size: 14px;
  color: #756d6d;
  font-weight: 400;
  text-align: justify;
}

.secfeatures .artfeatures .divfeatures a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 500;
  text-decoration: none;
}

.secfeatures .artfeatures .divfeatures-imagen {
  flex: 1;
  width: 40%;
  right: -40px;
  height: 80%;
}

.secfeatures .artfeatures .divfeatures-imagen figure,
.secfeatures .artfeatures .divfeatures-imagen img {
  margin-top: 0;
  height: 100%;
}

.secgrowing {
  background-color: #a1d683;
  padding: 10% 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secgrowing .artgrowing {
  flex: 2;
  padding-right: 50px;
}

.secgrowing .artgrowing h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: #025157;
}

.secgrowing .artgrowing p {
  color: #575454;
  font-size: 18px;
  margin-bottom: 2rem;
}

.secgrowing .artgrowing button {
  font-size: 14px;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  background-color: #025157;
  color: white;
  text-align: center;
}

.secgrowing .artgrowing img {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}

.secgrowing .artcatalogo {
  flex: 1;
}


.secgrowing .artcatalogo {
  margin-left: 5%;
  max-width: 200%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.secgrowing .artcatalogo .divcatalogo img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 115%;
  max-width: 200%;
}

.secgrowing .artcatalogo .divcatalogo figure {
  margin-right: 12%;
  margin-top: 0%;
}


.secgrowing .artcatalogo .divlogo {
  background-color: rgb(255, 230, 0);
  border-radius: 50%;
  margin-top: -5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -150px;
  width: 100px;
  height: 100px;
}

.secgrowing .artcatalogo .divcatalogo-body,
.secgrowing .artcatalogo .divcatalogo-footer {
  padding: 20px;
}

.secgrowing .artcatalogo .divcatalogo-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.secgrowing .artcatalogo .divcatalogo-body h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.secgrowing .artcatalogo .divcatalogo-body .divcatalogo-body2 {
  display: flex;
  align-items: center;
  color: #828282;
}

.secgrowing .artcatalogo .divcatalogo-body .divcatalogo-body2 img {
  width: 26px;
  margin-right: 20px;
}

.secgrowing .artcatalogo .divcatalogo-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.secgrowing .artcatalogo .divcatalogo-footer button {
  display: block;
  margin-left: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 20px;
  width: 100%;
  background-color: #025157;
  color: white;
}

.secMatchaWok {
  background-color: rgb(248, 248, 248);
  padding: 5% 10%;
  text-align: center;
}

.secMatchaWok h3 {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Impact", sans-serif;
  margin-bottom: 8px;
}

.secMatchaWok p {
  max-width: 60%;
  color: slategrey;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.secMatchaWok a {
  color: rgb(91, 190, 107);
  text-decoration: none;
}

.secMatchaWok button {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 15px;
  width: 25%;
  background-color: #025157;
  color: white;
  padding-top: 12px 12px 6px;
  height: 45px;
  margin-left: 0;
  margin-top: 6px;
}


.secMatchaWok .divMatchaInformacion {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion {
  background-color: #fff;
  border: 1px solid #9b9595;
  border-radius: 6px;
  margin-right: 20px;
  text-align: left;
  padding-left: 4%;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Imagen {
  position: relative;
  height: 350px;

}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Imagen .Matcha-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Imagen .Matcha-imagen {
  width: 100%;
  height: 100%;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Body {
  padding: 25px;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Body h4 {
  color: #025157;
  font-size: 30px;
  line-height: 35px;
  font-family: "Impact", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Body p {
  color: slategrey;
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
  line-height: 1.0;
  max-width: 80%;
  margin-bottom: 20px;
}

.secMatchaWok .divMatchaInformacion .artMatchaInformacion .divMatcha-Body a {
  font-size: 14px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /* .navbar,
  .divactions {
    display: none;
  } */
  h1 {
    font-size: 30px;
    text-align: center;
  }
  main{
    margin-top: 150px;
  }
  .capterra > img{
    width: 100%;
  }

  .secpromo {
    flex-direction: column;
    max-width: 90%;
  }

  .artvideo > video {
    width: 100%;
  }

  .publicidad {
    margin-top: 10px;
  }

  .publicidad > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .secfeatures {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  
  .divfeatures-imagen {
    display: none;
  }
 } 

 .card-group{
   margin-top: 50px;
 }

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}